body {
    display: flex;
    max-width: auto;
    max-height: auto;
    margin: auto;
    flex-direction: column;
}

.header {
    display: flex;
    border: solid black;
    background-color: crimson;
    height: 400px;
    width: auto;
    flex-direction: column;
    
}

.top{
    display: flex;
    justify-content: space-between;
    border: solid black
}

.bottom {
    display: flex;
    justify-content: space-around;
    border: solid blue;
    height: inherit;

}

.logo {
    display: flex;
    background-color: blue;
    height: fit-content;
    width: fit-content;
}

.links-list {
    display: flex;
    background-color: red; 
    height: fit-content;
    width: fit-content;
}

.header .image {
    display: flex;
    background-color: purple;
    height: fit-content;
    width: fit-content;
    align-self: center;
}

.header .quote-area {
    display:flex;
    height: fit-content;
    width: 176px;
    flex-direction: column;
    font-size: 12px;
    border: solid black;
    word-wrap: normal;
    align-self: center;
}